:root {
  --keyword: #b11a04;
  --def: #d2054e;
}

pre {
  font-family: Menlo, Monaco, monospace;
}

body {
  background: #fef7fc;
}

.def {
  color: #d2054e;
}

.kind-OperationDefinition {
  color: #b11a04;
}

.kind-Field {
  color: #1f61a0;
}

.kind-Argument {
  color: #8b2bb9;
}

.kind-StringValue {
  color: #d64292;
}

.kind-IntValue {
  color: #2882f9;
}

.kind-FloatValue {
  color: #2882f9;
}

.kind-EnumValue {
  color: #0b7fc7;
}

.kind-ObjectField {
  color: #8b2bb9;
}

.kind-NamedType {
  color: #ca9800;
}

.comment {
  color: #999;
}

.tippy-tooltip pre {
  overflow: scroll;
  white-space: pre;
}

pre {
  white-space: pre-wrap;
}
