pre {
  font-family: Menlo, Monaco, monospace;
}

body {
  background: #fef7fc;
}

.layout {
  display: grid;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  grid-template-areas: 'header header' 'main sidebar';
  grid-template-columns: auto auto;
  grid-gap: 12px 12px;
  grid-template-rows: auto 1fr;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
}

@media (max-width: 800px) {
  .layout {
    grid-template-areas: 'header' 'main' 'sidebar';
  }
  .header a {
    font-size: 14px;
  }
}

.def {
  color: #d2054e;
}

.kind-OperationDefinition {
  color: #b11a04;
}

.kind-Field {
  color: #1f61a0;
}

.kind-Argument {
  color: #8b2bb9;
}

.kind-StringValue {
  color: #d64292;
}

.kind-IntValue {
  color: #2882f9;
}

.kind-FloatValue {
  color: #2882f9;
}

.kind-EnumValue {
  color: #0b7fc7;
}

.kind-ObjectField {
  color: #8b2bb9;
}

.kind-NamedType {
  color: #ca9800;
}

.comment {
  color: #999;
}

.tippy-tooltip pre {
  overflow: scroll;
  white-space: pre;
}

pre {
  white-space: pre-wrap;
}

.description p {
  margin-top: 0;
  word-wrap: break-word;
}
